@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Roboto:wght@300&display=swap");
:root {
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Outfit", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.current,
.current:hover {
  color: #999999;
}

/* Utilities */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  text-transform: uppercase;
  list-style: none;
  font-size: 0.8rem;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-child) {
  padding-right: 4rem;
}

#title {
  text-align: left;
}

/* Contents */
.food-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.food-grid menu {
  padding-top: 4rem;
}

.food-grid .menu img {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.food-grid .menu p {
  margin-top: 1rem;
  text-align: left;
}

.menu {
  position: relative;
}

.menu a:hover img {
  opacity: 0.3;
}

.menu div {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu:hover div {
  visibility: visible;
}

/* Footer */

#sns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

#sns:hover {
  color: #999999;
}

#sns a:not(:last-child) {
  margin-right: 2rem;
}

#sns a:hover {
  color: #000;
}

/* Responsive Screen For Tablet */
@media (max-width: 1024px) {
  nav {
    padding: 0 1rem;
  }
}

/* Responsive Screen For Smartphone */
@media (max-width: 480px) {
  .food-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    margin-top: 4rem;
  }

  nav ul li:not(:last-child) {
    padding-right: 3rem;
  }
}
